<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orden Generada</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/product/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product/cart/view">Orden</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="mx-auto mt-4 mb-4">
        <h2>Orden Generada</h2>
        <div class="row">
            <!-- For each sellOrder -->
            #foreach($sellOrder in $sellOrders)
            <div class="col-md-1"></div>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                No.Orden: $sellOrder.id
                            </div>
                            <div class="col-md-6 text-center">
                                Suplidor: $sellOrder.supplierId
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center ">
                                Fecha Orden: $sellOrder.date
                            </div>
                            <div class="col-md-6 text-center">
                                Monto Total: $sellOrder.totalAmount
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-borderless">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Foreach product -->
                            #foreach($product in $sellOrder.soldProducts)
                                #set($total = $product.quantity * $product.price)
                            <tr>
                                <th scope="row">$foreach.count</th>
                                <td>$product.id</td>
                                <td>$product.description</td>
                                <td>$product.quantity</td>
                                <td>$product.price</td>
                                <td>$total</td>
                            </tr>
                            #end
                            <!-- end -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            #end
            <!-- EndForeach -->
        </div>
    </div>
</div>


</body>
</html>